<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="fragments/_head"></head>
<body>
    <div th:insert="fragments/_header :: header"></div>
    <h2>
        <p style="text-align: center">PICANHA – ROTISSERIE ON THE CHARCOAL GRILL</p>
    </h2>
    <p style="float: left;">
        <img th:src="@{/img/main.png}" alt="Picanha">
    </p>
    <br>
        <br>Picanha is a Top Sirloin Cap Roast, with the fat still on (the fat is key).</br>
        <br>It is cut across the grain into three steaks, bent into a “C” shape, and cooked on the rotisserie.</br>
        <br>This is tutorial with a three easy steps how to make Picanha rotisserie on the charcoal grill.</br>

    <div id="bottomFoot">
        <div th:replace="fragments/_footer :: footer"></div>
    </div>
</body>
</html>