body {
    background-color: #d9dddc;
    font-family: Arial;
    padding: 25px;
    width: 100%;
}
input[type=password], input[type=text] {
    width: 100%;
    padding: 16px 20px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-size: larger;
}

input#logout {
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    color: lightgrey;
    background: none;
    border: none;
}

input#login, input#submit-quiz {
    width: 100%;
    background-color: #333;
    color: #f1f1f1;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 25px;
}

button {
    background-color: #333;
    color: #EEE;
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    margin-bottom: 5px;
}

input[type=submit]:hover {
    cursor: pointer;
}
img {
    padding: 10px;
}

footer {
    font-size: xx-small;
    text-align: center;
    position: fixed;
    bottom: 0;
}