<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head th:replace="frags :: head">HEAD</head>
<body>
<header th:replace="frags :: header">HEADER</header>
<div id="grid">
    <div></div>
    <div id="container">
        <p>
            Your human resources department can do much more for your pirate ship than recruiting crew members and
            administering benefits and payroll.
        </p>
        <p>
            Make YAAR the training powerhouse in your seafaring organization. By establishing a comprehensive training
            program, YAAR can provide you with crew members who not only have expertise in essential tasks, but who also
            grow with your company. You may find yourself promoting from within on a more frequent basis.
        </p>
    </div>
    <div></div>
</div>
<footer><a href="https://smallbusiness.chron.com/human-resource-staff-training-60378.html">Text Credit</a></footer>
</body>
</html>