<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="frags :: head">HEAD</head>
<body>
<header th:replace="frags :: header">HEADER</header>

<!-- show the authenticated user's name -->
<h1 th:text="|Hello ${#authentication.name}!|"></h1>

<!-- list all of the authenticated user's roles -->
Role(s):
<th:block th:each="r, iter:${#authentication.getAuthorities()}">
    <span th:text="${r}"></span>
    <th:block th:if="${!iter.last}">,</th:block>
</th:block>

<div sec:authorize="isAnonymous()">
    This content is shown to unauthenticated users.
</div>

<div sec:authorize="isAuthenticated()">
    This content is only shown to authenticated users.
</div>

<div sec:authorize="hasAuthority('crew')">
    This content is only shown to crew.
</div>

<div sec:authorize="hasAuthority('hr')">
    This content is only shown to HR.
</div>

</body>
</html>