<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"><img th:src="@{/img/logo.jpg}"/></a>
        <a class="navbar-brand" th:href="@{/}">Home</a>

        <div>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <input id="logout" type="submit" value="Logout">
                </form>
            </div>

            <div sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Login</a>
            </div>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div id="authenticated" sec:authorize="hasAuthority('employee')">
                        <h2><a th:href="@{/employee-benefits}">Employee benefits</a></h2>
                    </div>
                </li>
                <li class="nav-item">
                    <div id="authenticated2" sec:authorize="hasAuthority('major')">
                        <h2><a th:href="@{/employee-benefits}">Employee benefits</a></h2>
                        <h2><a th:href="@{/secret-recipe}">Secret recipe</a></h2>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <h2 th:text="|Hello ${#authentication.name}!|"></h2>
        </div>
    </nav>
</header>

<footer th:fragment="disclaimer">
    Disclaimer.
</footer>

</body>
</html>
